.card {
    width: 560px;
    height: 400px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255,255,0.1 );
    box-shadow: 0 0 20px rgba(7 ,15,15,0.5 );
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(10px);
}


